@import 'jeet'

+below(414px)
    .modal-wrapper .container
        width 100%
        margin-left 20px
        margin-right 20px
        box-sizing border-box
    .modal-wrapper .container .banner
        min-height: 150px
        height 150px
    .banner .slide-item img.slider-img
        width 100% !important
        height auto !important

+below(375px)
    .modal-wrapper .container .title
        font-size 15px

+below(320px)
    .modal-wrapper .container .title
        font-size 13px
    .modal-wrapper .container .desc-content
        font-size 13px