@import 'jeet'

+below(720px)
    .slide-item img.slider-img
       width 130%
    .slide-item .info
        z-index 10
    .slide-item .info h1
        font-size 18px
    .slide-item .info button 
        margin-bottom 0
    .bullet-wrapper
        bottom 10px
        z-index 10

+below(414px)
    .slide-item img.slider-img
        width auto 
        height 120%